@{
    ViewData["Title"] = "Home Page";
}
<!--
 <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->




<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">The Movies Collection</h1>
        <p class="lead text-muted">The Movies Collection to platforma dzięki której podzielisz się ze znajomymi swoimi ulubionymi filmami, zrecenzujesz obejrzane przez siebie dzieła kinematografi, oraz poznasz opinię innych kinomaniaków. Dołącz do nas już dziś!</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Zaloguj się</a>
          <a href="#" class="btn btn-secondary my-2">Zarejestruj się</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div id="allMovies" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
     
       
    


      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <!--
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
    -->
  </div>
</footer>
